// media qoury
$maxSmallMobile: "(max-width: 576px)";
$maxMobile: "(max-width: 768px)";
$minMedium: "(min-width: 769px)";
$maxMedium: "(max-width: 991px)";
$Large: "(min-width: 992px)";
$ExtraLarge: "(min-width: 1200px)";
